@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700);
#header4-28 .btn {
  font-size: 20px;
}
#msg-box2-9 .mbr-header .mbr-header__text {
  color: #252525;
}
#msg-box2-9 .mbr-article {
  color: #252525;
}

#ext_menu-9 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-9.mbr-navbar--stuck .mbr-navbar__section {
  background: #ffffff;
}
#ext_menu-9 .mbr-navbar__section {
  background: #ffffff;
}
#ext_menu-9 .mbr-brand__name a {
  font-family: 'Roboto', sans-serif;
  font-size: 36px;
}
#ext_menu-9 .mbr-navbar__hamburger {
  color: #ffffff;
}
#msg-box4-0 .mbr-header__text {
  color: #000000;
  text-align: right;
}
#msg-box4-0 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-0 .mbr-article {
  color: #ffffff;
}
#msg-box4-0 .mbr-article P {
  color: #000000;
  text-align: right;
}
#content5-11 .mbr-header .mbr-header__text {
  text-align: right;
  color: #fff;
}
#content5-11 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-11 .mbr-article {
  color: #fff;
}
#content5-11 .mbr-article P {
  text-align: right;
}
#msg-box2-13 .mbr-header .mbr-header__text {
  color: #252525;
}
#msg-box2-13 .mbr-article {
  color: #252525;
}
#form1-14 .mbr-header__text {
  color: #ffffff;
}
#footer1-15 P {
  text-align: center;
}

#ext_menu-16 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-16.mbr-navbar--stuck .mbr-navbar__section {
  background: #ffffff;
}
#ext_menu-16 .mbr-navbar__section {
  background: #ffffff;
}
#ext_menu-16 .mbr-brand__name a {
  font-family: 'Roboto', sans-serif;
  font-size: 36px;
}
#ext_menu-16 .mbr-navbar__hamburger {
  color: #ffffff;
}
#msg-box4-3 .mbr-header__text {
  color: #000000;
  text-align: right;
}
#msg-box4-3 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-3 .mbr-article {
  color: #ffffff;
}
#msg-box4-3 .mbr-article P {
  color: #000000;
  text-align: right;
}
#content5-18 .mbr-header .mbr-header__text {
  text-align: right;
  color: #fff;
}
#content5-18 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-18 .mbr-article {
  color: #fff;
}
#content5-18 .mbr-article P {
  text-align: right;
}
#msg-box2-20 .mbr-header .mbr-header__text {
  color: #252525;
}
#msg-box2-20 .mbr-article {
  color: #252525;
}
#form1-21 .mbr-header__text {
  color: #ffffff;
}
#footer1-22 P {
  text-align: center;
}
#msg-box2-23 .mbr-header .mbr-header__text {
  color: #252525;
}
#msg-box2-23 .mbr-article {
  color: #252525;
}
